.card {
  border: 2px solid #ffffff;
  border-radius: 10px;
  flex-basis: 25%;
  flex-shrink: 1;
  height: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card__unit {
  background-image: url("../img/Cards/_Back.png");
  background-size: cover;
  background-origin: border-box;
  width: 126px;
  height: 178px;
  margin: 5px;
}

.card__unit[data-visible="true"] {
  background-image: url("../img/Cards/c14.png");
}

// .hand__card--over {
//   position: relative;
// }
