@import "card";

.deck {
  position: relative;
}

.deck__unit {
  @extend .card__unit;
  position: relative;
}

.deck__unit--trump {
  top: 0;
  left: -25px;
  position: absolute;
  transform: rotate(90deg);
}
