@import "variables.scss";

.popup {
  text-align: center;
  font-size: 30px;
  display: none;
  width: 500px;
  // height: 300px;
  padding: 30px;
  padding-top: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  background-color: #cccccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.popup p {
  // font-size: 30px;
}

.popup select {
  font-size: 30px;
}

.popup button {
  color: #ffffff;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 20px 70px;
  font-size: 30px;
  border: 4px solid;
  border-color: darken($green-color, 10%);
  border-radius: 50px;
  cursor: pointer;
  outline: none;
  background-color: $green-color;
}

.popup button:active {
  background-color: darken($green-color, 15%);
}

.popup--active {
  display: block;
}
