.table {
  width: 95%;
  height: 480px;
  background-color: rgb(50, 160, 100);
  border: 30px solid rgb(125, 60, 45);
  border-radius: 155px;
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
}
